<div class="container">
  <h1 class="title">
      Your Polls
      <a routerLink="new" class="btn btn-primary float-right">New</a>
    </h1>
  <div class="alert alert-info" role="alert" *ngIf="msg">
    <button type="button" class="close" aria-label="Close" (click)="closeMsg()">
        <span aria-hidden="true">&times;</span>
      </button> {{ msg }}
  </div>
  <ul class="list-group">
    <li class="list-group-item list-group-item-action justify-content-between" *ngFor="let poll of polls; let i = index">
      <div class="form-group">
        {{ poll.title }}
        <span class="badge badge-default badge-pill">{{ poll.votes }} votes</span>
      </div>
      <div class="col-12 text-right">
        <a routerLink="{{ poll.id }}" class="btn btn-sm btn-primary mb-1">Edit</a>
        <a [routerLink]="[poll.id, 'delete']" class="btn btn-sm btn-danger mb-1">Delete</a>
      </div>
    </li>
  </ul>
  <app-pagination [ellipses]="false" [page]="pagination?.page" [maxSize]="4" [pageSize]="pagination?.limit" [collectionSize]="pagination?.count" (pageChange)="onPageChange($event)" *ngIf="pagination?.totalPages > 1"></app-pagination>

  <div class="alert alert-info" role="alert" *ngIf="!polls.length">
    <strong>No polls found!</strong> <a routerLink="new" class="link">Create</a> your first poll now.
  </div>
  <router-outlet></router-outlet>
</div>
