<div class="container">
  <h1 class="title">
    Polls <span class="loader" *ngIf="loading"></span>
  </h1>
  <ul class="list-group" *ngIf="polls">
    <li class="list-group-item list-group-item-action justify-content-between" *ngFor="let poll of polls; let i = index" (click)="onNavigate(poll.id)">
    {{ poll.title }} <span class="badge badge-default badge-pill mb-2 mt-2">{{ poll.votes }} votes</span>
    </li>
  </ul>
  <app-pagination [disabled]="loading" [ellipses]="false" [page]="pagination?.page" [maxSize]="4" [pageSize]="pagination?.limit" [collectionSize]="pagination?.count" (pageChange)="onPageChange($event)" *ngIf="pagination?.totalPages > 1"></app-pagination>

  <div class="alert alert-info" role="alert" *ngIf="!polls?.length">
    <strong>Yikes, no polls found!</strong>
  </div>
</div>

<router-outlet></router-outlet>
